/*  header class liste elemenleri işaretler kaldırıldı  overflow kutuya sığdırıldı    */
.header {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    margin-right: 16px;
    font-family: arial,sans-serif;
    font-size: 13px;
   
    
  }
  

  .headerli a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }
/* mause üzerinde iken yazının altına çizgi eklendi    */

  .headerli a:hover {
    text-decoration: underline;
  }
  
  .container {
    text-align: center;
    margin: 100px;
  }
  
  .search-area {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-top: -77px;
    width: 582px;
    border-radius: 34px;
  }
  
  .search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
  }
  
  .search {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
  }
  
  .search-img {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
  }
  
  .search-img span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
  }
  
  .input-enter {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 480px;
    

  }
  
  .input-area {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: block;
    
    
  }
  
  .input {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -68px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    cursor: text;
  }
  
  .googlesearch {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 30px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-left: 565px;
    
    
  }
  .googlesearch:hover {
    border: solid 1px rgb(206, 204, 204);
    color: black;
    background-color: #f6f6f6;


  }
  /*  cursor özelliğine üzerine gelince el işareti iconu çıkar  */

  .feelinglucky {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  .feelinglucky:hover {
    border: solid 1px rgb(206, 204, 204);
    color: black;
    background-color: #f6f6f6;

  }
  
  .footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
    list-style-type:none;
    background-color: #f2f2f2 ;
    
  }
  
  .footerli {
    float: left;
    
  }
  
  .footerli a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
  }
  
  .footerli a:hover {
    text-decoration: underline;
  }
  .profiljpg{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin: 5px;
  }
 
 /*  a etiketi çizgiler kaldırıldı opacity ile renkler solduruldu  */

  .Alar{
    padding: 5px 5px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 15px;
    margin: 5px;
    opacity: 0.75;
    font-family: Arial, sans-serif;
    padding-bottom: 0%;
    
  }
  .Alar:hover{
    border-bottom: 1px solid rgb(153, 151, 151);
    

  }
  #a1 {
     margin-left: 1000px;
     
  }
/*  a etiketi çizgiler kaldırıldı opacity ile renkler solduruldu  */
  .Alar2 {
    padding: 5px 5px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 0;
    margin: 5px;
    margin-left: 15px ;
    opacity: 0.75;
    font-family: Arial, sans-serif;
    padding-bottom: 0%;

  }
  .Alar2:hover{
    
        border-bottom: 1px solid rgb(153, 151, 151);
        
      
  }
  #ppop{
      opacity: 100;
  }
 
  #imgv {
    width: 25px;
    height: 25px;
    
  }
  /*  id ile outline çerçeve kaldırıldı  */

  #inputsearch1{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -70px;
    width: 487px;

  }